.black-block {
  padding: 262px 0 112px 0;
  background: url("../images/black-block-bg.svg") no-repeat center;
  background-color: white;
  background-size: contain;
  transition: 0.5s;
  //margin-top: 150px;

  &.with-paddings {
    padding: 470px 0;

    .white-btn {
      a {
        i {
          font-size: 24px;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 64px;
      //color: #FFFFFF;
      text-align: center;
      max-width: 50%;
      margin: 0 0 24px 0;
      transition: color 0.3s;
    }

    .regular-text{
      font-family: 'Grotesk Anderson', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      //color: rgba(255, 255, 255, 0.68);
      margin: 0 0 56px 0;
      transition: color 0.3s;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .white-btn {

        a {
          background: rgba(255, 255, 255, 0.04);
          border: 1px solid rgba(255, 255, 255, 0.06);
          color: white;
          transition: 0.3s;

          &:hover {
            border-color: #0057FF;
          }
        }

      }
    }
  }
}

@media screen and(max-width: 550px) {
  .black-block {
    background-image: none;
  }
}

@media screen and(max-width: 991px) {
  .black-block {
    padding: 90px 0 120px 0;
    background-size: auto;
    background-position: right;

    //margin-top: 24px;

    &.with-paddings {
      padding: 110px 0;
      margin-top: 0;
      .container {
        .buttons {
          .white-btn {
            flex-grow: 0;
          }
        }
      }
    }

    .container {
      .block-title {
        font-size: 40px;
        line-height: 56px;
        max-width: 100%;
        width: 100%;
      }

      .buttons {
        width: 100%;
        .white-btn,
        .blue-btn {
          flex-grow: 1;
          text-align: center;
          max-width: 200px;
        }
      }
    }
  }
}