.partner-form {
  background: #101417;
  box-shadow: 0px 20px 25px rgba(0, 0, 23, 0.16), 0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 40px;
  max-width: 400px;

  .form-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    color: #FFFFFF;
    margin: 0;
  }

  .regular-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.68);
    margin: 8px 0 40px 0;
  }

  .form-input {
    display: block;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 19px 16px;
    width: 100%;
    margin-bottom: 24px;
    color: white;
    caret-color: #0057FF;
    outline: none;
    transition: 0.3s;

    &:focus {
      border: 1px solid #0057FF;
    }
  }

  .form-submit {
    background: #0057FF;
    border-radius: 8px;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    color: white;
    border: 0;
    transition: 0.3s;
    -webkit-appearance: none;

    &:hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 87, 255, 0.12), 0px 16px 24px rgba(0, 87, 255, 0.2);
      cursor: pointer;
    }
  }
}