.screen {
  //height: 100vh;
  padding-top: 128px;
  display: flex;
  background-color: white;
  transition: background-color 0.5s;
  //height: calc(100vh - 128px);

  &.screen-height{
    height: calc(100vh - 128px);
  }


  //&:first-child {
  //  height: calc(100vh - 128px);
  //}

  .container {
    height: 100%;
  }

  .screen-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #101417;
    margin: 0 0 24px 0;
    transition: color 0.5s;

    .remark {
      color: #0057FF;
    }
  }

  &.intro {
    .container {
      //background: url("../images/intro.png") no-repeat center top;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      .ic {
        position: absolute;
        filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.1));
        transition: 0.7s;

        &.up {
          filter: drop-shadow(0px 20px 13px rgba(0, 0, 23, 0.26));
        }

        &.ic-1 {
          left: 22%;
          top: 3%;
          //transform: rotate(-30deg);
        }

        &.ic-2 {
          left: 16%;
          top: 19%;
        }

        &.ic-3 {
          left: 10%;
          top: 33%;
        }

        &.ic-4 {
          left: 18%;
          top: 41%;
        }

        &.ic-5 {
          left: 23%;
          top: 56%;
        }

        &.ic-6 {
          left: 12%;
          top: 60%;
        }

        &.ic-7 {
          left: 26%;
          top: 76%;
        }

        &.ic-8 {
          top: 90%;
          left: 20%;
        }

        &.ic-9 {
          right: 22%;
          //transform: rotate(60deg);
        }

        &.ic-10 {
          top: 19%;
          right: 14%;
        }

        &.ic-11 {
          top: 33%;
          right: 18%;
        }

        &.ic-12 {
          right: 20%;
          top: 50%;
        }

        &.ic-13 {
          right: 13%;
          top: 53%;
        }

        &.ic-14 {
          right: 10%;
          top: 77%;
        }

        &.ic-15 {
          right: 24%;
          top: 85%;
        }
      }

      .content {
        max-width: 740px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main-title {
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
          line-height: 64px;
          text-align: center;
          color: #101417;
          margin: 0 0 40px 0;
        }

        .regular-text {
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          color: rgba(16, 20, 23, 0.68);
          margin: 0;
          max-width: 500px;
        }

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 64px;
        }
      }
    }
  }

  &.customers-about-us {
    padding-bottom: 93px;
  }

  &.why-choose-us {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 56px;

      .advantages-list {
        width: 50%;
      }

      .advantages-img {
        width: 50%;
        position: relative;
      }
    }
  }

  &.our-team {
    padding-bottom: 72px;

    .team-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 80px;
      margin-left: -12px;
      margin-right: -12px;

      &::after {
        content: "";
        flex: auto;
      }
    }
  }

  &.payment-solution {

    &+.sponsors-container {
      .sponsors {
        margin-top: 64px;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .cursor-effect {
        color:#0057FF;
        border-right: none;

        &.cursor {
          border-right: 1px solid #0057FF;
        }
      }

      .payment-solution-description {
        width: 45%;

        .page-title {
          font-weight: bold;
          font-size: 16px;
          line-height: 64px;
          color: #0057FF;
          margin: 0;
        }

        .buttons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 56px 0 48px 0;

          .blue-btn {
            margin-left: 0;
          }
        }

        .event {
          .event-header {
            .event-logo {
              width: 48px;
              height: 48px;
              box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
              border-radius: 8px;
              margin-right: 16px;
            }

            .event-title {
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #101417;
              margin: 0;
            }

            .event-date {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              color: rgba(16, 20, 23, 0.68);
            }
          }
        }
      }

      .payment-solution-image {
        width: 50%;

        .crypto-solution-img {
          border-radius: 24px;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.why-should-you-try {
    .container {
      .advantages-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 48px;

        .advantage {
          width: 40%;
          padding-right: 80px;
          margin-bottom: 48px;

          .icon {
            width: 80px;
            height: 80px;
            margin-right: 16px;
            flex-shrink: 0;

            img {
              width: 32px;
              height: 32px;
            }
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;

        .blue-btn {
          margin-left: 0;
        }
      }
    }
  }

  &.capabilities {
    .container {
      .tab-content {
        .tab-img {
          padding-top: 48px;
          .mob-tab-img {
            top: 90px;
          }
        }
      }
    }
  }

  &.media {
    margin-bottom: 200px;
  }

  &.events {
    .events-container {
      margin-top: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .event {
        width: 45%;
        padding-right: 40px;
        margin-bottom: 52px;
      }
    }
  }

  &.about-us-screen {

    &.advantages {
      width: 100%;
      background: transparent;
      position: fixed;
      top: 0;
    }

    &:not(.fixed-screen) {
      .right-side {
        .advantages-list {
          display: none!important;
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      .regular-text {
        margin-bottom: 32px;

        &.bold {
          font-weight: bold;
          margin-bottom: 0;
        }
      }

      .left-side {
        width: 45%;
        padding-right: 60px;
        //padding-top: 40px;
        margin-top: -60px;
        display: flex;
        align-items: center;
      }

      .right-side {
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;

        .advantages-list {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-height: 550px;
          height: calc(100% - 40px);
          padding-bottom: 40px;
          .advantage {
            margin-bottom: 0;
            .regular-text {
              margin-bottom: 0;
            }
            .icon {
              width: 80px;
              height: 80px;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  &.contact-us {
    padding-bottom: 116px;
    .container {
      .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .regular-text {
          width: 50%;
        }
      }

      .contact-mails {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: 56px;

        .left-side {
          width: 50%;
          padding-right: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          box-sizing: border-box;
        }

        .right-side {
          width: 50%;
        }

        .contact-mail {

          .description {
            font-family: 'Grotesk Anderson', sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 32px;
            color: black;
            margin: 0;
          }

          .mail {
            font-family: 'Grotesk Anderson', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: rgba(0, 0, 0, 0.87);
            margin: 0;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              color: #0057FF;
            }
          }
        }
      }
    }
  }

  &.become-partner-page {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-side {
        //padding-top: 40px;
        //padding-right: 60px;
        width: 50%;
        margin-top: -60px;
      }

      .right-side {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: -60px;
      }
    }
  }

  &.partners {
    .container {
      .bottom-text-for-mob {
        display: none;
      }

      .regular-text {
        width: 40%;
        margin-bottom: 48px;
      }

      .tab-content {
        //justify-content: flex-start;
        margin-top: 56px;
        align-items: stretch;
        &::after {
          content: "";
          flex: auto;
        }
      }

      .custom-slider-arrows {
        visibility: hidden;
      }
    }
  }

  &.become-client-page {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      .form-title {
        text-align: center;
      }

      .regular-text {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .screen {
    padding-top: 32px;
    padding-bottom: 32px;

    &.screen-height{
      height: auto;
    }
    .screen-title {
      font-size: 32px;
      line-height: 48px;
      margin: 0 0 16px 0;
    }

    &.intro {
      padding-top: 95px;
      padding-bottom: 10px;
      .container {
        //background-size: auto;
        //background-position: 80% bottom;
        background: url("../images/intro-mob.png") no-repeat top;
        background-size: cover;

        .ic {
          display: none;
        }
        .content {
          .main-title {
            font-size: 40px;
            line-height: 56px;
            margin: 130px 0 24px 0;
          }

          .regular-text {
            font-size: 14px;
            line-height: 24px;
          }

          .buttons {
            margin-top: 96px;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;

            .blue-btn {
              margin-bottom: 16px;
              width: 100%;
              text-align: center;
            }

            .white-btn {
              width: 100%;
              text-align: center;
              background: white;
            }
          }
        }
      }
    }

    &.customers-about-us {
      padding-top: 44px;

      .container {
        padding: 0;

        .screen-title {
          padding: 0 24px;
        }

        .regular-text {
          padding: 0 24px;
        }
      }

      .custom-slider-arrows {
        display: none;
      }
    }

    &.why-choose-us {
      .content {
        margin-top: 40px;
        .advantages-list,
        .advantages-img {
          width: 100%
        }

        .advantages-img {
          margin-top: 40px;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

    &.our-team {
      padding-bottom: 128px;
      .team-cards {
        flex-wrap: nowrap;
        overflow: scroll;
        margin-top: 24px;
        margin-left: -24px;
        margin-right: -24px;

        &::after {
          content: none;
          //flex: auto;
        }
      }
    }

    &.payment-solution {
      padding-top: 100px;

      .container {

        .payment-solution-description {
          order: 2;
          width: 100%;

          .page-title {
            line-height: 48px;
          }

          .buttons {
            margin-top: 16px;
            margin-bottom: 40px;
            flex-wrap: wrap;

            .white-btn,
            .blue-btn {
              width: 100%;
              margin: 24px 0 0 0;
            }
          }
        }

        .payment-solution-image {
          order: 1;
          width:100%;
        }
      }
    }

    &.why-should-you-try {
      .container {
        .advantages-list {
          .advantage {
            width: 100%;
            padding: 0;
            margin-bottom: 32px;
            align-items: flex-start;

            .advantage-title {
              font-size: 18px;
            }
          }
        }

        .buttons {
          .white-btn {
            flex-grow: 1;
            text-align: center;
          }
        }
      }
    }

    &.capabilities {
      overflow-x: hidden;
      .container {
        .tab-content {
          .tab-img {
            padding-top: 0;
            .mob-tab-img {
              top: 45px;
            }
          }
        }
      }
    }

    &.media {
      margin-bottom: 0;

      .container {
        padding: 0;

        .screen-title,
        .regular-text {
          padding-left: 24px;
        }


      }
      .custom-slider-arrows {
        display: none;
      }
    }

    &.events {
      .events-container {
        margin-top: 44px;

        .event {
          width: 100%;
          padding: 0;
          margin-bottom: 40px;
        }
      }
    }

    &.about-us-screen {
      &.fixed-screen {
        display: none;
      }

      &:nth-child(3){
        .left-side {
          padding-top: 0!important;
        }
      }

      &:not(.fixed-screen) {

        .right-side {
          .advantages-list {
            max-height: unset;
            display: block!important;
          }
        }
      }

      &:nth-child(2) {
        padding-top: 64px;
        padding-bottom: 0;
      }

      &:nth-child(3) {
        padding-top: 0;
      }

      .container {
        flex-wrap: wrap;

        .right-side,
        .left-side {
          width: 100%;
          padding-right: 0;
        }

        .left-side {
          margin-top: 0;
          padding-top: 60px;
        }

        .right-side {
          padding-top: 24px;
          .advantages-list {
            .advantage {
              margin-bottom: 24px;
            }
          }
        }
      }


    }

    &.contact-us {
      .container {
        .info {
          .regular-text {
            width: 100%;
            margin-bottom:  24px;
          }
        }

        .contact-mails {
          margin-top: 0;
          .left-side {
            width: 100%;
            padding: 0;

            .contact-mail {
              width: 100%;
              margin-bottom: 24px;
            }
          }

          .right-side {
            width: 100%;

            .contact-mail {
              width: 100%;
            }
          }
        }
      }
    }

    &.become-partner-page {
      padding-bottom: 0;
      .container {
        flex-wrap: wrap;

          .left-side {
            padding-top: 64px;
            padding-bottom: 8px;
            margin-top: 0;

            .subtitle,
            .addition-text {
              display: none;
            }
          }

        .right-side {
          width: 100%;
          padding-top: 24px;
          margin-top: 0;
          .partner-form {
            width: 100%;
            max-width: unset;
          }
        }
      }
    }

    &.partners {
      padding-top: 90px;
      .container {
        .bottom-text-for-mob {
          display: block;

          .blue-btn {
            display: flex;
            margin: 0;
          }
        }
        .regular-text {
          width: 100%;
          margin-bottom: 40px;

        }

        .tab-content.active {
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow-x: scroll;
          margin: 0 -24px;
        }

        .hover-content {
          padding: 16px;

          .hover-content-title {
            font-size: 18px;
            line-height: 24px;
          }

          .blue-btn a {
            padding: 8px 8px;
          }
        }
      }

    }
  }
}

@media screen and(max-width: 550px){
  .become-partner-page {
    .container {
      .left-side,
      .right-side {
        width: 100%!important;
      }

      .right-side {
        .partner-form {
          width: 100%;
          max-width: unset;
          margin: 0 -24px;
          padding: 24px;
          border-radius: 0;
        }
      }
    }
  }
  //.become-partner-page {
  //  .container {
  //    position: relative;
  //    .left-side,
  //    .right-side {
  //      width: 100%!important;
  //    }
  //  }
  //
  //  .left-side {
  //    padding-top: 64px;
  //    padding-bottom: 8px;
  //
  //    .subtitle,
  //    .addition-text {
  //      display: none;
  //    }
  //  }
  //
  //  .right-side {
  //    //background: #101417;
  //    position: absolute;
  //    bottom: -100%;
  //    left: 0;
  //    width: 100%;
  //
  //    .partner-form {
  //      position: absolute;
  //      padding: 40px 24px;
  //      border-radius: 0;
  //
  //      //background: none;
  //    }
  //  }
  //}
}