.team-card {
  margin: 0 12px 56px 12px;
  width: calc(25% - 24px);
  overflow-y: hidden;
  //width: 24%;

  &:hover {
    .photo-container {
      &:before {
        padding-top: 80%
      }

      .team-photo {
        top: -10%
      }
    }
  }

  .photo-container {
    width: 100%;
    //height: auto;
    position: relative;
    border-right: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
    overflow-y: hidden;

    &:before {
      content: "";
      display: block;
      padding-top: 100%; /* initial ratio of 1:1*/
      transition: 0.3s;
    }

    .team-photo {
      position: absolute;
      top:      0;
      left:     0;
      bottom:   0;
      right:    0;
      width: 100%;
      transition: 0.3s;
    }
  }

  .team-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 8px 0;
    color: #101417;
    transition: 0.5s;
  }

  .regular-text {
    font-family: 'Grotesk Anderson', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0;
    color: rgba(16, 20, 23, 0.68);
  }

  .social-btns {
    margin-top: 16px;
    .soc-btn {
      margin-right: 16px;
      i {
        font-size: 32px;
        color: #C4C4C4;
        transition: 0.3s;

        &:hover {
          color: #0057FF;
        }
      }

    }
  }
}

@media screen and(max-width: 991px) {
  .team-card {
    width: 40%;
    flex-shrink: 0;

    &:hover {
      .photo-container {
        &:before {
          padding-top: 100%
        }

        .team-photo {
          top: 0;
        }
      }
    }
    .photo-container {
      width: 35vw;
    }

    &:last-child {
      padding-right: 24px;
    }

    &:first-child {
      padding-left: 12px;
    }
  }
}

@media screen and (max-width: 550px) {
  .team-card {
    width: 80%;
    .photo-container {
      width: 80vw;
    }
  }
}